
#encabezado{
    background-color: rgb(27, 26, 26);
    background-size: cover;
    background-position: center;
    text-align: center; 

}
#encabezado p{
    color:#717070;
    font-size: 15px;
    font-weight: bold;
    margin: 0;

}