
#encabezado{
    background-color: rgb(27, 26, 26);
    background-size: cover;
    background-position: center;
    text-align: center; 

}
#encabezado p{
    color:#717070;
    font-size: 15px;
    font-weight: bold;
    margin: 0;

}
nav{
    padding: 20px;
    width: 100%; 
text-align: center;
}

nav a{
    color:rgb(85, 112, 85) ;
    font-weight: bold;
    font-size: 1.1em;
   
    margin-left: 0.4em;
    margin-right: 0.4em;
}
#soy{
    color:#96B096 ;
    font-weight: bold;
}