#yo {
  margin-top: 50px;
  width: 250px;
    text-align: center;
      background-color: #fbdea2;
      border-radius: 3em 3em 0.2em 0.2em;
      transition: 0.4s;

    }
    #soy{
      color: rgb(67, 2, 244);
    }