@mixin respond-to($media) {
  @if $media == small {
    @media (max-width: 768px) { @content; }
  } @else if $media == medium {
    @media (min-width: 768px) { @content; }
  }
}

// Responsive Design
@include respond-to(small) {
  #soy h1, #habilidades h2, #Ppersonales {
    color: #739673;
    margin: 0.2em 0;
  }

  #sobreMi, #herramientas {
    color: $font-color-default;
    text-align: center;
    display: inline-block;

        

#descripcion{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom:3em ;
}
    p {
      color: #c4c3c3;
    }

  

    #intro, #herramientas {
      font-size: 0.8em;
      margin-top: 5em;
    }
  }



 #contactame, #habilidades {
    margin-bottom:3em ;
   }
/*  #Ppersonales{
    margin-top:2em ;
  } */
  #habilidades, #Ppersonales {
    text-align: center;

  }

  #lista {
    color: #c4c3c3;
    font-size: 1.1em;
    margin-bottom: .5em;
    list-style: none; // Eliminar los puntos de los elementos li
    padding: 0; // Eliminar el padding predeterminado

    li {
      margin-top: 0.3em;
      text-align: center; // Centrar los elementos li
    }
  }
}
