// Archivo: _responsivo.scss

@mixin respond-to($media) {
  @if $media == small {
    @media (max-width: 768px) { @content; }
  } @else if $media == medium {
    @media (min-width: 768px) { @content; }
  }
}

// Responsive Design
@include respond-to(small) {
  #compu {
    display: none;
  }

  #habilidades h2, #Ppersonales {
    color: #739673;
    margin: 0.2em 0;
  }

  #soy{
    height: 50vh; 
  }
  #soy h1 {

    margin-bottom: 0.1em;
    margin-top: 0.1em;
  }


  #sobreMi, #herramientas {

    color: $font-color-default;
    text-align: center;
    display: inline-block;
  }

  #descripcion {
    margin: 0 1em 2em 1em;
  }

  p {
    color: #c4c3c3;
  }

  #intro, #herramientas {
    font-size: 0.8em;
    margin-top: 5em;
  }

  #contactame, #habilidades {
    margin-bottom: 3em;
  }

  #habilidades, #Ppersonales {
    text-align: center;
  }

  #lista {
    color: #c4c3c3;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    list-style: none;
    padding: 0;

    li {
      margin-top: 0.3em;
      text-align: center;
    }
  }
#sectionPersonalesCompu{
  display: none;
}
  #sectionPersonales {
    color: $font-color-default;
    text-align: center;
    display: inline-block;

    h3 {
      margin-top: 1em;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; // Centrar las imágenes
    }

    a {
      border-radius: 10px;
      border: 1px solid $link-color;
      display: inline-block;
      padding: 0.5em 1em;
      margin-top: 1em;
      text-decoration: none;
      color: $link-color;
      transition: background-color 0.2s ease, color 0.1s ease;

      &:hover,
      &:focus,
      &:active {
        background-color: lighten($link-color, 10%);
        color: #fff;
      }
    }

    &:last-child {
      margin-bottom: 2em;
    }
  }


  footer {
    background-color: $hover-border-color;
    color: $background-color; 
    text-align: center; 
    padding: 20px; 
  }

  nav {
    padding: 20px;
    width: 100%;
    text-align: center;

    a {
      text-decoration: none;
      color: $link-color;
      font-weight: bold;
      font-size: 1.1em;
      margin: 0 0.4em;

      &:active  /*,
      &:focus */ {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
        transform: scale(1.05); 
      }
    }
  }
}







@include respond-to(medium) {
  #yo {
    width: 550px;
        border-radius: 0.5em 0.5em 0.2em 0.2em;
     margin-bottom: 3em;
      }
  #yo:hover {
    transform: scale(1.5, 1.5);
    z-index: 3;
  } 

  #sectionPersonales {
    display: none;
  }

  #sectionProyectosP {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: transparent;
    text-align: center;
  }

  #sectionProyectosP article {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }

  #sectionProyectosP article img {
    width: 100%;
    height: 300px; 
    margin: 0 0.1em 0 0.1em;
    object-fit: cover; 
  }

  #sectionProyectosP article a {
    display: block;
    text-align: center;
  }

  #soy {
    margin-top: 0; /* Eliminamos el espacio superior */
  }

* {
  font-size: 1.1em;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  text-decoration: none;
}

body {
  color: $text-color;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#encabezado {
  background-size: cover;
  background-position: center;
  text-align: center;
}

nav {
  padding: 20px;
  width: 100%;
  text-align: center;

  a{
    color: $link-color;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0 0.4em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $button-bg-color;
      color: $button-hover-color;
    }
  }
}

.contenedor {
  margin: 0 auto;
}

#soy {
  color: $highlight-color;
  font-weight: bold;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;

  p, h1 {
    margin: 0.1em 0;
  }

  h1 {
    color: $highlight-color;
    font-weight: bold;
  }

  a {
    margin-top: 2em;
  }
}

#yo {
  margin-top: 1.3em;
  width: 200px;
  text-align: center;
  border-radius: 3em 3em 0.2em 0.2em;
  transition: 0.4s;
}

#yoo {
  display: none;
}

#intro, #herramientas {
  color: $button-hover-color;
  margin: 3em 0 0.2em;
  font-size: 0.8em;
  margin-top: 2em;
}
#sobreMi, #habilidades{
  color: #fff;
  margin: 0 1em 2em 3em;

} 
#sobreMi a {
  border-radius: 10px;
  border: 1px solid $link-color;
  display: inline-block;
  padding: 0.7em 1em;
  margin-right: 1.7em;
  margin-top: 0.1em;
}
 #CompuBoton {
  border-radius: 10px;
  border: 1px solid $link-color;
  display: inline-block;
  padding: 0.5em 1em;
  justify-content: center;
  margin: 1em 0 1em 0;
  text-decoration: none;
  color: $link-color;
  transition: background-color 0.2s ease, color 0.1s ease;
margin-left: 45%;
}

#CompuBoton:hover {
  background-color: $button-bg-color;
  color: $button-hover-color;
  transform: scale(1.1);
}
#Ppersonales{
  color: $button-bg-color;
  text-align: center;
}
h2 {
  font-weight: bold;
}
footer {
  background-color: $hover-border-color;
  color: $background-color; 
  text-align: center; 
  padding: 20px; 
}
p, ul, h3, h2{
  color:$color-claro;
}



}
