$background-color: rgb(27, 26, 26);
$text-color: #666666;
$link-color: rgb(85, 112, 85);
$highlight-color: #96B096;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-color-default: #918e8e;
$hover-border-color: rgb(85, 112, 85);
$button-bg-color: #8d8e8d;
$button-hover-color: white;
$color-claro:#edeaea;
$highlight-proyect: #96b096ac;
$paquetes:#8316b9;
