@mixin respond-to($media) {
  @if $media == small {
    @media (max-width: 768px) { @content; }
  } @else if $media == medium {
    @media (min-width: 768px) { @content; }
  }
}


  // Responsive Design
  @include respond-to(small) {
    #soy h1, #habilidades h2 {
  color:$hover-border-color;  
      margin: 0.2em 0;
   
    }
  
    #sobreMi {
      color: #b8b8b8;
      margin-top: 1em;
      text-align: center;
      display: inline-block;
  
      p, #herramientas {
        color: #918e8e;
      }
  
      h2, h3 {
        margin: 1em 0;
      }
  
      #intro {
        font-size: 0.8em;
      }
  
      #herramientas {
        margin: 3em 0 0.2em;
        font-size: 0.8em;
      }
    }
  
    #habilidades {
      text-align: center;
    }
  
    #lista {
      color: #c4c3c3;
      font-size: 1.1em;
      margin-bottom: 1.5em;
  
      li {
        margin-top: 0.3em;
      }
    }
  }